:root {
    // Цвета
    --color-primary: #42567A;
    --color-accent: #EF5DA8;
    --color-text: #42567A;
    --color-bg: #F4F5F9;
    --color-border: rgb(66 86 122 / 10%);
    --color-blue: #3877EE;
    --color-white: #FFFFFF;

    // Градиенты
    --gradient-primary: linear-gradient(to right, #3877EE, #EF5DA8);

    // Типографика
    --font-family-main: 'PT Sans', sans-serif;
    --font-size-h1: 56px;
    --font-size-h2: 32px;
    --font-size-h3: 20px;
    --font-size-body: 16px;
    --font-size-small: 14px;
    --line-height-h1: 120%;
    --line-height-body: 150%;
}