.container {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 180px;

    color: var(--color-text);
    font-family: var(--font-family-main);

    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);

    background-image: linear-gradient(to right, rgba(#42567A, 0.1) 1px, transparent 1px);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1px 100%;

    overflow: hidden;

    @media (width <=768px) {
        min-height: auto;
        padding: 20px;
    }
}

.title {
    position: absolute;
    z-index: 2;

    left: 0;
    top: 170px;

    padding-left: 75px;

    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    max-width: 15ch;

    border-left: 5px solid transparent;
    border-image: var(--gradient-primary) 1;


    @media (width <=768px) {
        margin-bottom: 20px;
        padding-left: 0;

        font-size: 20px;
    }
}

.content {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;

    width: calc(100% + 40px);
    height: 600px;
    margin: 0 -20px;

    background-image: linear-gradient(to bottom, rgba(#42567A, 0.1) 1px, transparent 1px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 1px;

    @media (width <=768px) {
        display: flex;
        flex-direction: column;

        height: auto;
    }
}

.controls {
    position: absolute;
    transform-origin: left;
    left: 100px;
    bottom: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (width <=768px) {
        position: static;

        order: 2;

        margin-top: 20px;
        padding: 0;
    }
}

.pagination {
    font-weight: 400;
    font-size: 14px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.rotated {
    transform: rotate(180deg);
}

.centerDate {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;

    display: flex;
    gap: 40px;

    color: var(--color-text);
    font-weight: 700;
    font-size: 200px;
    line-height: 160px;

    transform: translate(-50%, -50%);

    pointer-events: none;

    @media (width <=768px) {
        position: static;

        gap: 20px;
        justify-content: center;

        margin-bottom: 40px;

        font-size: 56px;

        transform: none;
    }

    span:first-child {
        color: #5d5fef;
    }

    span:last-child {
        color: #ef5da8;
    }
}

.periodLabel {
    display: none;

    @media (width <=768px) {
        order: 1;

        display: block;

        margin-bottom: 40px;
        padding-top: 40px;

        color: var(--color-text);
        font-weight: 700;
        font-size: 20px;
        text-align: center;

        border-top: 1px solid var(--color-border);
    }
}

.circleContainer {
    @media (width <=768px) {
        display: none;
    }
}

.eventCarousel {
    padding: 55px 80px 105px;
}