.container {
    position: relative;

    opacity: 0;
}

.prevButtonWrapper {
    position: absolute;
    top: 50%;
    left: -60px;
    z-index: 10;

    transform: translateY(-50%);

    transition: opacity 0.3s ease;
}

.nextButtonWrapper {
    position: absolute;
    top: 50%;
    right: -60px;
    z-index: 10;

    transform: translateY(-50%) rotate(180deg);

    transition: opacity 0.3s ease;
}

.hidden {
    opacity: 0;

    pointer-events: none;
}

:global(.swiper-slide-next) {
    transition: opacity 0.3s ease;

    @media (width <=576px) {
        opacity: 0.4;
    }
}

:global(.swiper-slide-prev) {
    transition: opacity 0.3s ease;

    @media (width <=576px) {
        opacity: 0.4;
    }
}

:global(.swiper-slide-active) {
    opacity: 1;
}